<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Accelerometer and gyroscope -->

    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0.04" rpy="0 0 -${pi/2}"/>
    </joint>

    <link name="imu_link">
        <visual>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <box size="0.04 0.05 0.02"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <box size="0.04 0.05 0.02"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.05" x="0.04" y="0.05" z="0.02">
            <origin xyz="0 0 0.01" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <gazebo reference="imu_link">
        <material>Gazebo/Red</material>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>10.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>


</robot>